*{
    font-family: 'Mochiy Pop P One';
    color:white;
}

#logo{
    color: turquoise;
    font-size: 50px;
    font-style: italic;
    outline-color: white;

}
.secondlogo{

    color:white;
    font-stretch: ;
}

.secondlogo:hover{
    color: cornflowerblue;

}
.bi{
    font-size: 30px;
    color: white;
}
.row{
    font-size:100px;

    
 
}
img{
    height: 25%;
    border-radius: 20%;
    border: 2px solid black;
}